[submodule "backend"]
	path = backend
	url = https://github.com/sogebot/sogeBot
[submodule "twitch-token-generator"]
	path = twitch-token-generator
	url = https://github.com/sogebot/twitch-token-generator.git
[submodule "cloudflare/tiltify"]
	path = cloudflare/tiltify
	url = https://github.com/sogebot/cloudflare-tiltify
