html {
  scroll-behavior: smooth;
}

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.dashboard-button-active,
.dashboard-button-inactive {
  padding: 8px;
}

.mobileScrollbar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background: transparent;
}
.mobileScrollbar::-webkit-scrollbar-thumb {
  background: #ffa000;
}

.monospace {
  font-family: 'Courier New', Courier, monospace;
}