@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body, html {
  height: 100% !important;
  width: 100% !important;
  margin: 0 !important;
  overflow: hidden !important;
}

.condensed {
  font-family: 'Roboto Condensed', sans-serif  !important;
}

a {
  color: #ffa000;
}

.mobileScrollbar::-webkit-scrollbar {
  width: 5px !important;
  height: 5px !important;
  background: transparent !important;
}
.mobileScrollbar::-webkit-scrollbar-thumb {
  background: #ffa000 !important;
}

.monospace {
  font-family: 'Roboto mono', 'Courier New', Courier, monospace !important;
  font-weight: 100 !important;
}

#notistack-snackbar ul {
  margin: 0 !important;
  margin-top: 0.5em !important;
}

.simplebar-scrollbar:before {
  background-color: #ffa000  !important;
}

.TableFilterCell-flexContainer .Mui-disabled {
  display: none !important;
}

.Pager-pager {
  position: fixed  !important;
  bottom: 5px !important;
  right: 5px !important;
  padding: 0  !important;
  padding-right: 1em !important;
  border-top: 1px solid #515151;
  background-color: #1e1e1ecc !important;
  width: calc(100vw - 75px) !important;
}

@media only screen and (max-width: 600px) {
  .Pager-pager {
    width: 100% !important;
    right: 0 !important;
    bottom: 65px !important
  }
}

.Pagination-pagination * {
  color: white  !important;
}

.Container-wrapper,
.IndentCell-indentCell {
  background-color: transparent  !important;
}

.MuiLink-root {
  cursor: pointer  !important;
}

.MuiTypography-h1  {
  font-weight: lighter !important;
  font-size: 2.2rem !important;
}

.MuiTypography-h2  {
  font-weight: lighter !important;
  font-size: 2rem  !important;
}

.MuiTypography-h3  {
  font-weight: lighter !important;
  font-size: 1.8rem !important;
}

.MuiTypography-h4  {
  font-weight: lighter !important;
  font-size: 1.6rem !important;
}

.MuiTypography-h5  {
  font-weight: lighter !important;
  font-size: 1.4rem !important;
}

.MuiTypography-h6  {
  font-weight: lighter !important;
  font-size: 1.2rem !important;
}

.TableContainer-root {
  overflow: initial  !important;
}

.MuiTableRow-head {
  position: sticky !important;
  top: 0px !important;
  background-color: rgb(39, 39, 39) !important;
  z-index: 500 !important;
}

.MuiTableRow-root {
  background-color: #1e1e1e !important;
}

.MuiDialogContent-dividers {
  border-top: 0px !important;
}

.MuiDialogTitle-root:has(~ .MuiDialogContent-dividers) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

.MuiDialogActions-root button {
  width: 150px;
}

.MuiDialogActions-root .MuiPaginationItem-root {
  width: unset !important;
}