name: Nightlies

concurrency:
  group: nightlies-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

on:
  push:
    branches:
      - docker

jobs:
  artifact:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          ref: docker
          fetch-depth: 0 # load full history
          submodules: true
      - name: Get short SHA
        id: slug
        run: echo "SHA=$(echo ${GITHUB_SHA} | cut -c1-8)" >> $GITHUB_OUTPUT
      - name: install node v18
        uses: actions/setup-node@v3
        with:
          node-version: 18
          check-latest: true
      - name: Install latest npm
        run: |
          npm install -g npm

      - name: Build a bot (dependency)
        run: cd ./backend/ && make

      - name: Build a UI
        run: cd ./ui.admin-mui/ && npm install && npm run build

      - uses: actions/upload-artifact@v3
        with:
          name: sogeBot-dashboard-${{ steps.slug.outputs.SHA }}
          path: ./ui.admin-mui/out

  build:
    needs: artifact
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Get short SHA
        id: slug
        run: echo "SHA=$(echo ${GITHUB_SHA} | cut -c1-8)" >> $GITHUB_OUTPUT
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2.1.0
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2.2.1
      -
        name: Login to DockerHub
        uses: docker/login-action@v2.1.0
        with:
          username: ${{ secrets.DOCKER_REGISTRY_USERNAME }}
          password: ${{ secrets.DOCKER_REGISTRY_PASSWORD }}

      - uses: actions/download-artifact@master
        with:
          name: sogeBot-dashboard-${{ steps.slug.outputs.SHA }}
          path: ${{ github.workspace }}/*.zip

      -
        name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: .
          file: ./ui.admin-mui/Dockerfile
          platforms: linux/amd64,linux/arm/v7,linux/arm64
          push: true
          tags: |
            sogebot/dashboard:latest
            sogebot/dashboard:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max