name: sogeBot Dashboard UI

concurrency:
  group: sogebot-dashboard-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

on:
  push:
    branches:
      - main

jobs:
  artifact:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0 # load full history
          submodules: true
      - name: Get short SHA
        id: slug
        run: echo "SHA=$(echo ${GITHUB_SHA} | cut -c1-8)" >> $GITHUB_OUTPUT
      - name: install node v18
        uses: actions/setup-node@v3
        with:
          node-version: 18
          check-latest: true
      - name: Install latest npm
        run: |
          npm install -g npm

      - name: Build a bot (dependency)
        run: cd ./backend/ && make

      - name: Build a UI
        run: cd ./ui.admin-mui/ && npm install && REACT_APP_VERSION=$(git rev-parse HEAD) npm run build

      - uses: actions/upload-artifact@master
        with:
          name: sogeBot-dashboard-${{ steps.slug.outputs.SHA }}
          path: ./ui.admin-mui/build/

      - name: Build a UI (with old_commit basePath)
        run: cd ./ui.admin-mui/ && node ./tools/changeHomepage.js ${{ steps.slug.outputs.SHA }} && npm install && REACT_APP_VERSION=$(git rev-parse HEAD) REACT_APP_COMMIT="${{ steps.slug.outputs.SHA }}" npm run build

      - uses: actions/upload-artifact@master
        with:
          name: sogeBot-dashboard-basePath-${{ steps.slug.outputs.SHA }}
          path: ./ui.admin-mui/build

  build:
    needs: artifact
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Get short SHA
        id: slug
        run: echo "SHA=$(echo ${GITHUB_SHA} | cut -c1-8)" >> $GITHUB_OUTPUT
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2.1.0
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2.2.1
      -
        name: Login to DockerHub
        uses: docker/login-action@v2.1.0
        with:
          username: ${{ secrets.DOCKER_REGISTRY_USERNAME }}
          password: ${{ secrets.DOCKER_REGISTRY_PASSWORD }}

      - uses: actions/download-artifact@master
        with:
          name: sogeBot-dashboard-${{ steps.slug.outputs.SHA }}
          path: ${{ github.workspace }}/ui.admin-mui/sogeBot-dashboard-${{ steps.slug.outputs.SHA }}

      - uses: actions/download-artifact@master
        with:
          name: sogeBot-dashboard-basePath-${{ steps.slug.outputs.SHA }}
          path: ${{ github.workspace }}/ui.admin-mui/sogeBot-dashboard-basePath-${{ steps.slug.outputs.SHA }}

      - name: Display structure of downloaded files
        run: ls -R
        working-directory: ${{ github.workspace }}

      - name: install node v18
        uses: actions/setup-node@v3
        with:
          node-version: 18
          check-latest: true

      - name: Include older out build (test)
        run: |
          cd ${{ github.workspace }}/ui.admin-mui/ && sh download-old-commits.sh

      -
        name: Build and push
        uses: docker/build-push-action@v3
        with:
          build-args: |
            COMMIT=${{ steps.slug.outputs.SHA }}
          context: ./ui.admin-mui/
          file: ./ui.admin-mui/Dockerfile
          platforms: linux/amd64,linux/arm/v7,linux/arm64
          push: true
          tags: |
            sogebot/dashboard:latest
            sogebot/dashboard:${{ steps.slug.outputs.SHA }}
          no-cache: true